@{
    ViewData["Title"] = "Index Home";
}
    <h2>@ViewBag.Nombre</h2>
    <h3>@ViewBag.Fecha</h3>

    @Html.ActionLink("Ir a Index Medicos","Index","Medico")

    @section SideBarOpcional{

        <p>Imágenes</p>
        <img alt="imagen aleatoria" src="https://picsum.photos/500/500?random">
        <img alt="imagen aleatoria" src="https://picsum.photos/500/500?random">
        <img alt="imagen aleatoria" src="https://picsum.photos/500/500?random">
        <img alt="imagen aleatoria" src="https://picsum.photos/500/500?random">
   


        }

